body {
  margin: 0;

font-family: 'Agency FB', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 color: aliceblue;


 
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bgimg1 {
  background: url("../images/find-purfect-background-vector-free-download.jpg") ; 
  
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
 
  
}
.bgimg2 {
  background: url("../images/city4.png") ; 
  min-height: 400%;
  width: 100%;
  position: relative;
  opacity: 1.0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  
  
}
.gameBTSbg {
  width: 100%;
  
  
}
.background-image {
  width: 100%;
  height: 100vh;

}
.game1splash {
  background: url("../images/Splash_DownPage.png") ;
  padding-bottom: 50px;
  background-size: cover;
}
.titlePosition {
  padding-top: 180px;
}
.gameBTSsplash {
  clip-path: polygon(0 6%, 100% 0, 100% 100%, 0% 100%);

  background-color: #211b1f;
  height: 100%;

  margin-top: -120px;
}

.splash3 {
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 200px;
  background-color: #2b2326;
  height: 100%;
  
  z-index: 2;
}
.splash3Game {
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
  padding-top: 300px;
  background-color: #2b2326;
  height: 100%;
  margin-top: -25px;
  z-index: 2;
}
.fondoCarousel1 {
  background-color: #25191d;
  border-radius: 12px;
  
}
.fondoCarousel2 {
  background-color: #2b2326;
  border-radius: 6px;
  
}
.carousel-control-prev-icon {
  background-image: url("../images/Icon_Left.png");
  height: 50px;
  width: 50px;
  opacity: 1.0;
  text-decoration: none;
 }
 .carousel-control-next-icon {
  background-image: url("../images/Icon_Right.png");
  height: 50px;
  width: 50px;
  opacity: 1.0;
  
 }
.btnDown {
  background-image: url("../images/Icon_Down.png");
  height: 70px;
  width: 70px;
}
.navstyle {
  background-color: #100c0d;
  color: whitesmoke;
  vertical-align: middle;

  
 
}
.navbar .navbar-brand, .navbar .navbar-nav .nav-link {
  color: white;
}
.firstclass {
  color: black;
}
.textColor1 {
  color: rgb(240, 248, 255);
  filter: blur(0px);
}

.steamBtn {
  color: aliceblue;
  line-height: 15px;
  border: 2px solid rgb(240, 248, 255);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.steamBtn:hover {
  color: #FFF;
  background: rgb(40, 44, 51);
  border: 2px solid rgb(40, 44, 51);
}
.contactBG {
  background-color: #322c30;
  
}

.contact input {
  margin-top: 10px;
  background: #221d20;
}
.contact textarea {
  margin-top: 10px;
  background: #221d20;
  caret-color: #221d20;
 
}
contact input:focus {
  margin-top: 10px;
 
  background: #221d20;
  
}

h1 {
  display: grid;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  
}


.modalBG {
  background: #000 !important; 
  

}

.netLogos {
  
  border-radius: 50%;
  background: transparent;
  transition: all 0.3s ease 0s;
  

}
.footerStyle {
  background-color: #100c0d;
  color: rgb(155, 155, 155);
  margin-bottom: -1rem;
   margin-left: -16px;
   
   bottom: 0;
  width: 100%;
}
.logoPosition {
  margin-top: -1rem;
}
.linkUnderline {
  text-decoration: none;
  color: #e7e5e5;
}
.linkUnderline:hover {
  color: #909090;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  
}
.overlay {
  position: absolute;
  display: flex;
  inset: 0;
  
}
.overlaySteam {
  position: absolute; 
  left: 33%;
  top: 60%;
}
.videoWrapper {
  position: relative;
  overflow: hidden;
}
.moreBtn {
  background-color: #9a2c2c;
  padding: -15px;
}
.teambg {
  background-color: #25191d;
 
  z-index: 1;
}
.nomargin {
  margin-bottom: -16px;
}
.jobBG {
  background-color: #2b2326;
  z-index: 2;
}
.icon {
  height: 40px;
  width: 40px;
}
.card {
  background-color: #322c30;
}
.contactBG {
  background-image: url("../images/ContactBG.png");
  height: 84vh;
}
.carousel-indicators [data-bs-target] {
  position: relative;
  max-width: 90px;
  height: 12px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}
.carousel-indicators [data-bs-target]:not(.active) {
  background-color: #322c30;
  opacity: .8;
}
.carousel-indicators [data-bs-target]:active {
  background-color: #100c0d;
  opacity: .8;
}
.carousel-indicators [data-bs-target]:hover {
  background-color: #100c0d;
  opacity: .8;
}
.carousel-control-next {
  opacity: .8;
}
.carousel-control-prev {
  opacity: 1;
}
h3 {
  display: grid;
  width: 100%;
  align-items: center;
  text-align: start;
  grid-template-columns: minmax(40px, 1fr) auto minmax(20px, 1fr);
  grid-gap: 10px;
  text-decoration: none;
}

h3:before,
h3:after {
  content: '';
  border-top: 2px solid;
}





 




.carousel-indicators1 button.thumbnail {
  width: 120px;
  border: 0;
}
.carousel-indicators1 button.thumbnail:not(.active){
  
  border: 0;
}
.carousel-indicators1 {
  position: static;
  margin-right: 15px;
  border: 0;
  
}
.positionIndicars {
  margin-left: -5px;
}
.lastthumb {
  margin-right: -30px;
  border : 0
}
.thumb {
  margin: 6px;
  border: 0;
  
}
.thumbnail {
  border: 0;
  padding: 0;
}
div.scroll {
  margin: 4px, 4px;
  padding: 4px;
  
  
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.logoBTSPosition {
  padding-top: 70px;
  
 
}
.videoPosition {
  padding-top: 150px;
  padding-left: 150px;
}
.newsImg {
  max-height: 225px;
  max-width: 450px;

}
.border-info {
  color: white;
}
.card-header {
  margin-top: -15px;
}
.gametext {
  font-size: 1vw;
  
}
.gametitle {
  font-size: 2vw;
}