body {
  margin: 0;

font-family: 'Play', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
 


 
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bgimg1 {
  background: url("../images/find-purfect-background-vector-free-download.jpg") ; 
  min-height: 100%;
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.game1splash {
  clip-path: polygon(0 39%, 100% 30%, 100% 100%, 0% 100%);
  background-color: #322c30;
}
.fondoCarousel1 {
  background-color: #25191d;
  border-radius: 12px;
  
}
.carousel-control-prev-icon {
  background-image: url("../images/Icon_Left.png");
  height: 70px;
  width: 70px;
  opacity: 1.0;
  text-decoration: none;
 }
 .carousel-control-next-icon {
  background-image: url("../images/Icon_Right.png");
  height: 70px;
  width: 70px;
 }
.navstyle {
  background-color: black;
  color: whitesmoke;
  vertical-align: middle;
}
.firstclass {
  color: black;
}
.textColor1 {
  color: rgb(240, 248, 255);
}
.sectionStyle {
  
  width: 100%;
}
.banner-area {
	width: 100%;
	
	position: relative;
}
#newsCard {
  background-color: rgb(40, 44, 51);
}
.cardImageNews {
  height: 150px;
  width: 800px;
}
.steamBtn {
  color: aliceblue;
  line-height: 15px;
  border: 2px solid rgb(240, 248, 255);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}
.steamBtn:hover {
  color: #FFF;
  background: rgb(40, 44, 51);
  border: 2px solid rgb(40, 44, 51);
}

.pageSpace {
  height: 100vh;
}
.contact input {
  margin-top: 10px;
  background: #909090;
}
.contact textarea {
  margin-top: 10px;
  background: #909090;
  caret-color: #909090;
 
}
contact input:focus {
  margin-top: 10px;
  color: #fff;
  background: #909090;
  
}

h1 {
  display: grid;
  width: 100%;
  align-items: center;
  text-align: start;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  grid-gap: 20px;
}

h1:before,
h1:after {
  content: '';
  border-top: 2px solid;
}
.modalBG {
  background: #000 !important; 
  

}

.netLogos {
  
  border-radius: 50%;
  background: transparent;
  transition: all 0.3s ease 0s;
  

}
.footerStyle {
  background-color: black;
  color: rgb(155, 155, 155);
  margin-bottom: -1rem;
   left: 0;
   bottom: 0;
   width: 100%;
}
.logoPosition {
  margin-top: -1rem;
}
.linkUnderline {
  text-decoration: none;
  color: #909090;
}
.linkUnderline:hover {
  color: #e7e5e5;
}
.ulLists {
  list-style-type: disc;
}
.overlay {
  position: absolute;
  display: flex;
  inset: 0;
  
}
.overlaySteam {
  position: absolute; 
  left: 33%;
  top: 60%;
}
.videoWrapper {
  position: relative;
  overflow: hidden;
}