body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  background: lightblue url("v748-toon-131.jpg") no-repeat fixed center; 
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navstyle {
  background-color: black;
  color: whitesmoke;
}
.firstclass {
  color: black;
}
.textColor1 {
  color: aliceblue;
}
.sectionStyle {
  height: 100vh;
  width: 100%;
}
#newsCard {
  background-color: rgb(40, 44, 51);
}
.cardImageNews {
  height: 150px;
  width: 800px;
}
.steamLogoStyle {
  color: aliceblue;
}
.pageSpace {
  height: 100vh;
}